<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ page.title }}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="icon" href="http://mattdeveloper.github.io/wpstarter/assets/images/favicon.png" type="image/png" />

	<link href='http://fonts.googleapis.com/css?family=Raleway:200,400,300,500,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="http://mattdeveloper.github.io/wpstarter/assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="http://mattdeveloper.github.io/wpstarter/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://mattdeveloper.github.io/wpstarter/assets/css/style.css">
	<link rel="stylesheet" href="http://mattdeveloper.github.io/wpstarter/assets/css/fresco.css">
</head>

<body data-spy="scroll" data-target=".docs-navbar">



<!-- MENU -->
<nav class="navbar navbar-default" role="navigation">

	<div class="navbar-header">
		<!-- Responsive Menu -->
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>

		<!-- Brand -->
		<a href="http://mattdeveloper.github.io/wpstarter/" class="navbar-brand">WP Starter</a>
	</div>

	<!-- Links -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav navbar-right">
			<li><a href="https://github.com/mattdeveloper/wpstarter/" target="_blank">Repositório</a></li>
			<li><a href="https://github.com/mattdeveloper/wpstarter/archive/master.zip">Download</a></li>
			<li><a href="javascript:void(0);" onclick="alert('Em construção!');">Desenvolvendo</a></li>
			<li><a href="http://mattdeveloper.github.io/wpstarter/doc/">Documentação</a></li>
		</ul>
	</div><!-- end .navbar-collapse -->
</nav><!-- end .navbar -->
