{% include header.html %}



<!-- HELLO -->
<section class="home-hello jumbotron">
	<h1>WP Starter<span>Framework</span></h1>
	<h2>Construindo temas WordPress de forma simples e eficaz!</h2>
	<p>Versão 0.9.0 (Fase de Testes)</p>
	<a href="https://github.com/mattdeveloper/wpstarter/archive/master.zip">Download</a>
</section><!-- end .hello -->



<!-- FEATURES -->
<section class="home-features container">
	<div class="row">

		<h4>Algumas Vantagens</h4>

		<div class="col-md-4 col-sm-4 item">
			<h3>Funcionalidades</h3>
			<span><i class="fa fa-code"></i></span>
			<p>SEO, Thumbnails, Opções do Tema, Custom Post Types, Custom Fields, Admin Bar, Área de Login entre outras funcionalidades</p>
		</div>

		<div class="col-md-4 col-sm-4 item">
			<h3>Poupe Códigos</h3>
			<span><i class="fa fa-rocket"></i></span>
			<p>As funcionalidades citadas fazem com que o desenvolvedor poupe códigos e crie um tema muito mais limpo e rápido!</p>
		</div>

		<div class="col-md-4 col-sm-4 item">
			<h3>Open Source</h3>
			<span><i class="fa fa-globe"></i></span>
			<p>O WP Starter Framework é um projeto Open Source. Você pode ajudar a desenvolvê-lo, atualizar o seu código e utilizar como quiser.</p>
		</div>

		<a href="https://github.com/mattdeveloper/wpstarter" target="_blank" class="repository">Repositório no Github</a>

	</div><!-- end .row -->
</section><!-- end .features -->



<!-- SCREENSHOTS -->
<section class="home-screenshots container">
	<div class="row">

		<h4>Screenshots</h4>

		<div class="col-md-3 col-sm-3">
			<a href="http://placehold.it/800x400" class="fresco" data-fresco-group="screenshots">
				<img src="http://placehold.it/223x150" class="img-responsive" alt="Screenshot WordPress Starter Theme - Framework">
			</a>
		</div>

		<div class="col-md-3 col-sm-3">
			<a href="http://placehold.it/800x400" class="fresco" data-fresco-group="screenshots">
				<img src="http://placehold.it/223x150" class="img-responsive" alt="Screenshot WordPress Starter Theme - Framework">
			</a>
		</div>

		<div class="col-md-3 col-sm-3">
			<a href="http://placehold.it/800x400" class="fresco" data-fresco-group="screenshots">
				<img src="http://placehold.it/223x150" class="img-responsive" alt="Screenshot WordPress Starter Theme - Framework">
			</a>
		</div>

		<div class="col-md-3 col-sm-3">
			<a href="http://placehold.it/800x400" class="fresco" data-fresco-group="screenshots">
				<img src="http://placehold.it/223x150" class="img-responsive" alt="Screenshot WordPress Starter Theme - Framework">
			</a>
		</div>

	</div><!-- end .row -->
</section><!-- end .screenshots -->



{% include footer.html %}
