{% include header.html %}
<div id="doc">



<!-- PAGE TITLE -->
<h2 class="title">
  <div class="container">
    <div class="row">
      <div class="col-md-12">Documentação</div>
    </div>
  </div>
</h2><!-- end .title -->



<div class="container" id="content">
<div class="row">
<div class="col-md-12">

  <!-- <div class="hidden-sm hidden-xs"><div class="space col-md-3" style="display: none;"></div></div> -->
  <nav class="col-md-3 hidden-sm hidden-xs docs-navbar">
    <ul class="nav">
      <li><a href="#getting-started">Iniciando</a>
        <ul>
          <li><a href="#download">Download</a></li>
          <li><a href="#install">Instalação</a></li>
        </ul>
      </li>

      <li><a href="#developers">Desenvolvedores</a></li>

      <li><a href="#theme-options">Opções do Tema</a>
        <ul>
          <li><a href="#active-theme-options">Ativando</a></li>
          <li><a href="#create-theme-options">Criando Campos</a></li>
          <li><a href="#show-theme-options">Exibindo No Tema</a></li>
        </ul>
      </li>

      <li><a href="#custom-post-types">Tipos de Post</a>
        <ul>
          <li><a href="#create-post-types">Criando</a></li>
        </ul>
      </li>

      <li><a href="#enqueue-scripts">Incluindo Arquivos</a>
        <ul>
          <li><a href="#enqueue-css">CSS</a></li>
          <li><a href="#enqueue-css-page">CSS - Única Página</a></li>
          <li><a href="#enqueue-javascript">JavaScript</a></li>
          <li><a href="#enqueue-javascript-page">JavaScript - Única Página</a></li>
        </ul>
      </li>
    </ul>
  </nav><!-- end .docs-navbar -->

</div><!-- end .col-md-12 -->
</div><!-- end .row -->
</div><!-- end #content -->



</div><!-- end #doc -->
{% include footer.html %}
